<h1>サンフレッチェ広島</h1>

<%= link_to "新規投稿へ", new_forum_path %>
</div>

<% @forums.each do |t| %>
    <% if t.category == "hiroshima" %>  
    <%= t.user.name %>
    <p>内容:<%= t.team %></p>
    <% end %>
  <% end %>