// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.forums-new {
    background-color: rgb(248, 241, 246);
    min-height: 100vh;
    position: relative;
    height: 200px;
}

.forums-main {
    position: absolute;
    top: 30%;
    left: 15%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: 100px;
}



.h3 {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.field {
    margin-top: 30px;
    margin-bottom: 30px;
}

.new-btn {
    display: flex;
    width: 300px;
    justify-content: space-between;
}


.sign-up {
    background-color: rgb(248, 241, 246);
    min-height: 100vh;
}

h2 {

    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-second {
    
    text-align: center;


}

.signup-third {
    
    margin-left: 180px;

}

.user-one {
    margin: 10px;
}

.user-top {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}